@charset "UTF-8";
.container.sk-theme {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container.sk-theme {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container.sk-theme {
    max-width: 1316px;
  }
}
@media (min-width: 1200px) {
  .container.sk-theme {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container.sk-theme *,
.container.sk-theme input {
  line-height: 130% !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.container.sk-theme h2,
.container.sk-theme h3 {
  text-transform: none !important;
  font-weight: 600 !important;
}
.container.sk-theme img {
  width: 100%;
  height: auto;
}
.container.sk-theme ul {
  list-style-type: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container.sk-theme a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}
.container.sk-theme main {
  overflow: hidden;
}
.container.sk-theme strong {
  font-weight: 700;
}
.container.sk-theme .visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container.sk-theme input[type=number]:focus,
.container.sk-theme input[type=tel]:focus,
.container.sk-theme input[type=text]:focus,
.container.sk-theme textarea:focus,
.container.sk-theme select:focus {
  outline: none;
}
.container.sk-theme input:focus {
  outline-width: 0;
  outline: none;
}
.container.sk-theme button,
.container.sk-theme input[type=submit] {
  font-family: "Rubik", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
.container.sk-theme button:focus,
.container.sk-theme input[type=submit]:focus {
  outline-width: 0;
  outline: none;
}
.container.sk-theme label {
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container.sk-theme .clearfix::after {
  content: ""; /* Генерируем пустой элемент */
  clear: both; /* Отменяем обтекание*/
  display: block; /* Блочный элемент */
}
.container.sk-theme .disable {
  display: none !important;
}
.container.sk-theme .disable-soft {
  display: none;
}

.sk-theme .intro {
  background-color: white;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .sk-theme .intro {
    padding-top: 24px;
    padding-bottom: 291px;
    background-size: 100% auto;
    background-position: center bottom;
  }
}
@media (min-width: 768px) {
  .sk-theme .intro {
    background-size: auto 100%;
    background-position: right center;
    padding-top: 77px;
    padding-bottom: 77px;
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media (min-width: 1200px) {
  .sk-theme .intro {
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 59px;
    padding-right: 59px;
  }
}
@media (max-width: 767px) {
  .sk-theme .intro--common {
    background-image: url("/serviskomfort/img/sk-into-common--mobile.jpg");
  }
}
@media (min-width: 768px) {
  .sk-theme .intro--common {
    background-image: url("/serviskomfort/img/sk-into-common.jpg");
  }
}
@media (max-width: 767px) {
  .sk-theme .intro--buyers {
    background-image: url("/serviskomfort/img/sk-into-buyers--mobile.jpg");
  }
}
@media (min-width: 768px) {
  .sk-theme .intro--buyers {
    background-image: url("/serviskomfort/img/sk-into-buyers.jpg");
  }
}
@media (max-width: 767px) {
  .sk-theme .intro--prorabs {
    background-image: url("/serviskomfort/img/sk-into-prorabs--mobile.jpg");
  }
}
@media (min-width: 768px) {
  .sk-theme .intro--prorabs {
    background-image: url("/serviskomfort/img/sk-into-prorabs.jpg");
  }
}
.sk-theme .intro__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}
@media (max-width: 767px) {
  .sk-theme .intro__title {
    font-size: 30px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .sk-theme .intro__title {
    font-size: 48px;
    text-align: left !important;
  }
}
@media (min-width: 1200px) {
  .sk-theme .intro__title {
    font-size: 60px;
  }
}
.sk-theme .intro__subtitle {
  display: block;
}
@media (max-width: 767px) {
  .sk-theme .intro__subtitle {
    font-size: 23px;
    margin-top: 14px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .sk-theme .intro__subtitle {
    font-size: 21px;
    margin-top: 17px;
    text-align: left !important;
  }
}
@media (min-width: 1200px) {
  .sk-theme .intro__subtitle {
    font-size: 30px;
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .sk-theme .intro__links {
    margin-top: 21px;
  }
}
@media (min-width: 768px) {
  .sk-theme .intro__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 48px;
  }
}
@media (min-width: 1200px) {
  .sk-theme .intro__links {
    margin-top: 60px;
  }
}
.sk-theme .intro__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 3px solid #1C4893;
  font-weight: 500;
  color: rgb(28, 72, 147);
}
@media (max-width: 767px) {
  .sk-theme .intro__link {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 176px;
    min-height: 47px;
  }
}
@media (min-width: 768px) {
  .sk-theme .intro__link {
    width: 260px;
    min-height: 74px;
    font-size: 24px;
    margin-right: 30px;
  }
}
.sk-theme .intro__link:hover {
  color: #fff;
  background-color: rgb(28, 72, 147);
}
.sk-theme .intro__link:active {
  background-color: rgb(25, 56, 109);
}

@media (max-width: 767px) {
  .sk-theme .utp {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .sk-theme .utp {
    padding-top: 48px;
    padding-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .sk-theme .utp {
    padding-top: 60px;
    padding-bottom: 100px;
  }
}
.sk-theme .utp__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .sk-theme .utp__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.sk-theme .utp__item {
  background-repeat: no-repeat;
  background-position: center top;
}
@media (max-width: 767px) {
  .sk-theme .utp__item {
    font-size: 20px;
    background-size: 120px auto;
    padding-top: 140px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .sk-theme .utp__item {
    width: 23%;
    font-size: 14px;
    padding-top: 98px;
    background-size: 84px auto;
  }
}
@media (min-width: 1200px) {
  .sk-theme .utp__item {
    background-size: 120px auto;
    padding-top: 140px;
    font-size: 20px;
  }
}
.sk-theme .utp__item:nth-child(1) {
  background-image: url("/serviskomfort/img/utp-1.svg");
}
.sk-theme .utp__item:nth-child(2) {
  background-image: url("/serviskomfort/img/utp-2.svg");
}
.sk-theme .utp__item:nth-child(3) {
  background-image: url("/serviskomfort/img/utp-3.svg");
}
.sk-theme .utp__item:nth-child(4) {
  background-image: url("/serviskomfort/img/utp-4.svg");
}
.sk-theme .utp__title {
  display: block;
  font-weight: 700;
  text-align: center;
}
.sk-theme .utp__description {
  display: block;
  text-align: center;
}

.sk-theme .cases {
  background-color: #fff;
  border: 1px solid rgba(203, 203, 203, 0.6);
  -webkit-box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.05);
}
@media (max-width: 767px) {
  .sk-theme .cases {
    padding-top: 24px;
    margin-bottom: 125px;
  }
}
@media (min-width: 768px) {
  .sk-theme .cases {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 49px;
    padding-bottom: 60px;
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .sk-theme .cases {
    padding-left: 59px;
    padding-right: 59px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 100px;
  }
}
.sk-theme .cases__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}
@media (max-width: 767px) {
  .sk-theme .cases__title {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  .sk-theme .cases__title {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .sk-theme .cases__title {
    font-size: 40px;
  }
}
.sk-theme .cases__list {
  padding-left: 0;
}
@media (max-width: 767px) {
  .sk-theme .cases__list {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .sk-theme .cases__list {
    margin-top: 42px;
  }
}
@media (min-width: 1200px) {
  .sk-theme .cases__list {
    margin-top: 60px;
  }
}
@media (min-width: 768px) {
  .sk-theme .cases__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.sk-theme .cases__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .sk-theme .cases__media {
    width: 47%;
  }
}
.sk-theme .cases__img-link {
  display: block;
  font-size: 0;
  width: 100%;
  position: relative;
}
.sk-theme .cases__img-link::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: 55% center;
  background-size: 20px 18px;
  background-image: url("/serviskomfort/img/play.svg");
  background-color: #fff;
}
@media (min-width: 1200px) {
  .sk-theme .cases__img-link::after {
    width: 80px;
    height: 80px;
    background-size: 26px 24px;
  }
}
@media (max-width: 767px) {
  .sk-theme .cases__content {
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
  .sk-theme .cases__content {
    width: 50%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 21px;
  }
}
@media (min-width: 1200px) {
  .sk-theme .cases__content {
    padding-left: 30px;
  }
}
.sk-theme .cases__content * {
  text-align: left !important;
}
.sk-theme .cases__content p {
  margin-top: 10px !important;
}
.sk-theme .cases__object-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px !important;
}
@media (min-width: 1200px) {
  .sk-theme .cases__object-title {
    font-size: 26px !important;
  }
}
.sk-theme .cases__paragraph {
  font-size: 18px !important;
}
@media (min-width: 1200px) {
  .sk-theme .cases__paragraph {
    font-size: 20px !important;
  }
}
.sk-theme .cases__products {
  padding-left: 0;
  font-size: 18px !important;
}
@media (min-width: 1200px) {
  .sk-theme .cases__products {
    font-size: 20px !important;
  }
}
.sk-theme .cases__product {
  font-weight: 700;
  position: relative;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .sk-theme .cases__product {
    padding-left: 20px;
  }
}
@media (min-width: 768px) {
  .sk-theme .cases__product {
    padding-left: 24px;
  }
}
.sk-theme .cases__product::before {
  position: absolute;
  content: "";
  left: 0;
  top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1C4893;
}
.sk-theme .owl-nav {
  text-align: left !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
@media (max-width: 767px) {
  .sk-theme .owl-nav {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
}
@media (min-width: 768px) {
  .sk-theme .owl-nav {
    margin-left: auto;
    width: 51%;
    height: 1px;
  }
}
.sk-theme .owl-prev,
.sk-theme .owl-next {
  font-size: 0 !important;
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  border: 1px solid #000;
  background-color: #fff !important;
  position: relative;
  margin-left: 5px !important;
  margin-right: 5px !important;
}
@media (max-width: 767px) {
  .sk-theme .owl-prev,
.sk-theme .owl-next {
    position: relative !important;
  }
}
.sk-theme .owl-prev:active,
.sk-theme .owl-next:active {
  background-color: #000 !important;
}
.sk-theme .owl-prev:active::before, .sk-theme .owl-prev:active::after,
.sk-theme .owl-next:active::before,
.sk-theme .owl-next:active::after {
  background-color: white;
}
.sk-theme .owl-prev::before, .sk-theme .owl-prev::after,
.sk-theme .owl-next::before,
.sk-theme .owl-next::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 10px;
  height: 1px;
  background-color: black;
}
.sk-theme .owl-prev::before {
  -webkit-transform: translate(-7px, 3px) rotate(45deg);
  transform: translate(-7px, 3px) rotate(45deg);
}
.sk-theme .owl-prev::after {
  -webkit-transform: translate(-7px, -3px) rotate(-45deg);
  transform: translate(-7px, -3px) rotate(-45deg);
}
.sk-theme .owl-next::before {
  -webkit-transform: translate(-4px, 3px) rotate(-45deg);
  transform: translate(-4px, 3px) rotate(-45deg);
}
.sk-theme .owl-next::after {
  -webkit-transform: translate(-4px, -3px) rotate(45deg);
  transform: translate(-4px, -3px) rotate(45deg);
}

.program {
  background-color: #1C4893;
}
@media (max-width: 767px) {
  .program {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .program {
    padding-top: 36px;
    padding-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .program {
    padding-top: 64px;
    padding-bottom: 71px;
  }
}

.sk-theme .program__wrapper {
  background-color: #fff;
  max-width: 1280px;
  border: 1px solid rgba(203, 203, 203, 0.6);
  -webkit-box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.05);
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .sk-theme .program__wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 21px;
    padding-right: 21px;
  }
}
@media (min-width: 768px) {
  .sk-theme .program__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1200px) {
  .sk-theme .program__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.sk-theme .program__title {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}
@media (max-width: 767px) {
  .sk-theme .program__title {
    display: block;
  }
}
@media (min-width: 1200px) {
  .sk-theme .program__title {
    font-size: 35px;
  }
}
.sk-theme .program__description {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .sk-theme .program__description {
    display: block;
  }
}
@media (min-width: 1200px) {
  .sk-theme .program__description {
    margin-top: 20px;
    font-size: 25px;
  }
}
.sk-theme .program__form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .sk-theme .program__form {
    max-width: 288px;
  }
}
@media (min-width: 768px) {
  .sk-theme .program__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 45px;
  }
}
.sk-theme .program__input {
  height: 78px;
  width: 100%;
  border: 1px solid #000;
  font-size: 18px;
}
@media (max-width: 767px) {
  .sk-theme .program__input {
    display: block;
    padding-left: 20px;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .sk-theme .program__input {
    width: 202px;
    margin-right: 21px;
    padding-right: 21px;
  }
}
@media (min-width: 1200px) {
  .sk-theme .program__input {
    width: 289px;
    margin-right: 30px;
    padding-left: 30px;
  }
}
.sk-theme .program__submit-container {
  width: 100%;
}
@media (min-width: 768px) {
  .sk-theme .program__submit-container {
    width: 202px;
  }
}
@media (min-width: 1200px) {
  .sk-theme .program__submit-container {
    width: 289px;
  }
}
.sk-theme .program__submit {
  height: 78px;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  border: 0 solid transparent;
  display: block;
}
.sk-theme .program__submit:hover {
  -webkit-box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.3);
}
.sk-theme .program__confid {
  margin-top: 10px;
}
.sk-theme .program__confid-link {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}

.sk-theme .sk-title {
  display: block;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 767px) {
  .sk-theme .sk-title {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .sk-theme .sk-title {
    font-size: 28px;
    margin-top: 42px;
    margin-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .sk-theme .sk-title {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.sk-theme .blue {
  color: #1C4893;
}

.sk-theme .steps__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.sk-theme .steps__item {
  background-color: #fff;
  border: 1px solid rgba(203, 203, 203, 0.6);
  -webkit-box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.05);
}
@media (max-width: 767px) {
  .sk-theme .steps__item {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .sk-theme .steps__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 21px;
    padding: 36px;
  }
}
@media (min-width: 1200px) {
  .sk-theme .steps__item {
    margin-top: 40px;
    padding: 48px;
  }
}
@media (min-width: 768px) {
  .sk-theme .steps__item:nth-child(2n-1) .steps__content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding-left: 48px;
  }
}
@media (min-width: 1200px) {
  .sk-theme .steps__item:nth-child(2n-1) .steps__content {
    padding-left: 60px;
  }
}
@media (max-width: 767px) {
  .sk-theme .steps__content {
    padding-top: 25px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .sk-theme .steps__content {
    padding-right: 20px;
  }
}
.sk-theme .steps__content * {
  text-align: left !important;
}
.sk-theme .steps__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}
@media (max-width: 767px) {
  .sk-theme .steps__title {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .sk-theme .steps__title {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .sk-theme .steps__title {
    font-size: 30px;
  }
}
.sk-theme .steps__step-list {
  margin-bottom: 0;
  padding-left: 0;
}
.sk-theme .steps__step-item {
  margin-top: 20px;
  position: relative;
  padding-left: 30px;
  font-size: 18px !important;
}
@media (min-width: 1200px) {
  .sk-theme .steps__step-item {
    margin-top: 24px;
    padding-left: 40px;
    font-size: 22px !important;
  }
}
.sk-theme .steps__step-item:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("/serviskomfort/img/ok.svg");
}
@media (min-width: 1200px) {
  .sk-theme .steps__step-item:before {
    width: 24px;
    height: 24px;
  }
}