@mixin section-width() {
  margin-left: auto;
  margin-right: auto;
  @media #{$min-tablet-width} {
    width: 100%;
  }
  @media #{$min-desktop-width} {
    max-width: $max-desktop-wrapper;
  }
}

@mixin paddings() {
  @media #{$min-desktop-width} {
    padding-left: $padding--desktop;
    padding-right: $padding--desktop;
  }
}

@mixin centers {
  margin-left: auto;
  margin-right: auto;
}