.container.sk-theme {
  @include section-width;
  @include paddings;
  *,
  input {
    line-height: 130% !important;
    box-sizing: border-box;
    font-family: $font-main;
  }
  h2,
  h3 {
    text-transform: none !important;
    font-weight: 600 !important;
  }
  img {
    width: 100%;
    height: auto;
  }
  ul {
    list-style-type: none;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    font-family: $font-main;
  }
  main {
    overflow: hidden;
  }
  strong {
    font-weight: 700;
  }
  .visually-hidden{
    position: absolute;
    width: 1px !important;
    height: 1px !important;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  input:focus {
    outline-width: 0;
    outline: none;
  }
  button,
  input[type="submit"] {
    font-family: $font-main;
    box-sizing: border-box;
    cursor: pointer;
  }
  button:focus,
  input[type="submit"]:focus {
    outline-width: 0;
    outline: none;
  }
  label {
    cursor: pointer;
    box-sizing: border-box;
  }
  .clearfix::after {
    content: ""; /* Генерируем пустой элемент */
    clear: both; /* Отменяем обтекание*/
    display: block; /* Блочный элемент */
  }
  .disable {
    display: none !important;
  }
  .disable-soft {
    display: none;
  }
}