$max-mobile-width: "(max-width: 767px)";

$min-tablet-width: "(min-width: 768px)";
$max-tablet-width: "(max-width: 1199px)";

$tablet-width-only: "(min-width: 768px) and (max-width: 1199px)";

$min-desktop-width: "(min-width: 1200px)";
$max-desktop-wrapper: 1316px;

$font-main: 'Rubik', sans-serif;

$padding--desktop: 15px;