$max-mobile-width: "(max-width: 767px)";

$min-tablet-width: "(min-width: 768px)";
$max-tablet-width: "(max-width: 1199px)";

$tablet-width-only: "(min-width: 768px) and (max-width: 1199px)";

$min-desktop-width: "(min-width: 1200px)";
$max-desktop-wrapper: 1366px;

$font-main: 'Rubik', sans-serif;

$padding--desktop: 15px;

$text-color-main: rgba(20, 42, 70, 1);
$text-color-alt: #fff;
$text-color-alt2: rgba(66, 63, 217, 1);
$text-color-alt-isl: rgba(153, 68, 246, 1);
$main-bg: #ffffff;
$alt-bg: rgba(245, 248, 254, 1);
$alt2-bg: #9445FB;

$title-color: #000;
$grey-text-color: #7D81A4;

$links-color: rgba(66, 63, 217, 1);
$alt-links-color: #24619D;
$links-color--hover: #ffd543;

//main button
$btn-color: #fff;
$btn-bg: #423FD9;
$btn-bg-alt: #fff;
$btn-bg-hover: #4E4AFF;
$btn-bg-active: #3A38BF;

$smile-bg: #423FD9;
$calculator-bg: #423FD9;
$radiocheck-color: #423FD9;

$invalid-color: rgba(238, 45, 91, 1);
$placeholder-color: rgba(125, 129, 164, 1);