.sk-theme {
  .cases {
    background-color: #fff;
    border: 1px solid rgba(203, 203, 203, 0.6);
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.05);
    @media #{$max-mobile-width} {
      padding-top: 24px;
      margin-bottom: 125px;
    }
    @media #{$min-tablet-width} {
      padding-left: 48px;
      padding-right: 48px;
      padding-top: 49px;
      padding-bottom: 60px;
      margin-bottom: 70px;
    }
    @media #{$min-desktop-width} {
      padding-left: 59px;
      padding-right: 59px;
      padding-top: 70px;
      padding-bottom: 70px;
      margin-bottom: 100px;
    }
  }
  .cases__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    @media #{$max-mobile-width} {
      font-size: 25px;
    }
    @media #{$min-tablet-width} {
      font-size: 28px;
    }
    @media #{$min-desktop-width} {
      font-size: 40px;
    }
  }
  .cases__list {
    padding-left: 0;
    @media #{$max-mobile-width} {
      margin-top: 30px;
    }
    @media #{$min-tablet-width} {
      margin-top: 42px;
    }
    @media #{$min-desktop-width} {
      margin-top: 60px;
    }
  }
  .cases__item {
    @media #{$min-tablet-width} {
      display: flex;
    }
  }
  .cases__media {
    display: flex;
    align-items: flex-start;
    @media #{$min-tablet-width} {
      width: 47%;
    }
  }
  .cases__img-link {
    display: block;
    font-size: 0;
    width: 100%;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-position: 55% center;
      background-size: 20px 18px;
      background-image: url("/serviskomfort/img/play.svg");
      background-color: #fff;
      @media #{$min-desktop-width} {
        width: 80px;
        height: 80px;
        background-size: 26px 24px;
      }
    }
  }
  .cases__content {
    @media #{$max-mobile-width} {
      padding-top: 30px;
    }
    @media #{$min-tablet-width} {
      width: 50%;
      flex-grow: 1;
      padding-left: 21px;
    }
    @media #{$min-desktop-width} {
      padding-left: 30px;
    }
    * {
      text-align: left !important;
    }
    p {
      margin-top: 10px !important;
    }
  }
  .cases__object-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px !important;
    @media #{$min-desktop-width} {
      font-size: 26px !important;
    }
  }
  .cases__paragraph {
    font-size: 18px !important;
    @media #{$min-desktop-width} {
      font-size: 20px !important
    }
  }
  .cases__products {
    padding-left: 0;
    font-size: 18px !important;
    @media #{$min-desktop-width} {
      font-size: 20px !important
    }
  }
  .cases__product {
    font-weight: 700;
    position: relative;
    margin-top: 15px;
    @media #{$max-mobile-width} {
      padding-left: 20px;
    }
    @media #{$min-tablet-width} {
      padding-left: 24px;
    }
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #1C4893;
    }
  }
  .owl-nav {
    text-align: left !important;
    display: flex !important;
    @media #{$max-mobile-width} {
      justify-content: center !important;
    }
    @media #{$min-tablet-width} {
      margin-left: auto;
      width: 51%;
      height: 1px;
    }
  }
  .owl-prev,
  .owl-next {
    font-size: 0 !important;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    border: 1px solid #000;
    background-color: #fff !important;
    position: relative;
    margin-left: 5px !important;
    margin-right: 5px !important;
    @media #{$max-mobile-width} {
      position: relative !important;
    }
    &:active {
      background-color: #000 !important;
      &::before,
      &::after {
        background-color: white;
      }
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      width: 10px;
      height: 1px;
      background-color: black;
    }
  }
  .owl-prev {
    &::before {
      transform: translate(-7px, 3px) rotate(45deg);
    }
    &::after {
      transform: translate(-7px, -3px) rotate(-45deg);
    }
  }
  .owl-next {
    &::before {
      transform: translate(-4px, 3px) rotate(-45deg);
    }
    &::after {
      transform: translate(-4px, -3px) rotate(45deg);
    }
  }
}