.sk-theme {
  .cases {
    @media #{$min-tablet-width} {
      padding-left: 48px;
      padding-right: 48px;
    }
    @media #{$min-desktop-width} {
      padding-left: 59px;
      padding-right: 59px;
    }
  }
  .cases__list {
    padding-left: 0;
  }
  .cases__item {
    @media #{$min-tablet-width} {
      display: flex;
    }
  }
  .cases__media {
    display: flex;
    align-items: flex-start;
    @media #{$min-tablet-width} {
      width: 47%;
    }
  }
  .cases__img-container {
    font-size: 0;
    width: 100%;
    position: relative;
    &::after {
      position: absolute;
      content: "";

    }
  }
  .cases__content {
    @media #{$min-tablet-width} {
      width: 50%;
      flex-grow: 1;
      padding-left: 21px;
    }
    @media #{$min-desktop-width} {
      padding-left: 30px;
    }
  }
  .cases__products {
    padding-left: 0;
  }
}