.sk-theme {
  .sk-title {
    display: block;
    text-align: center;
    font-weight: 600;
    @media #{$max-mobile-width} {
      font-size: 25px;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    @media #{$min-tablet-width} {
      font-size: 28px;
      margin-top: 42px;
      margin-bottom: 42px;
    }
    @media #{$min-desktop-width} {
      font-size: 40px;
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
  .blue {
    color: #1C4893;
  }
}