.sk-theme {
  .steps {

  }
  .steps__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  .steps__item {
    background-color: #fff;
    @media #{$max-mobile-width} {
      margin-top: 30px;
    }
    @media #{$min-tablet-width} {
      display: flex;
      margin-top: 21px;
      padding: 36px;
    }
    @media #{$min-desktop-width} {
      margin-top: 40px;
      padding: 48px;
    }
    &:nth-child(2n-1) {
      .steps__content {
        @media #{$min-tablet-width} {
          order: 2;
          padding-left: 48px;
        }
        @media #{$min-desktop-width} {
          padding-left: 60px;
        }
      }
    }
  }
  .steps__content {
    @media #{$max-mobile-width} {
      padding-top: 25px;
      padding-left: 14px;
      padding-right: 14px;
      padding-bottom: 30px;
    }
    @media #{$min-tablet-width} {
      padding-right: 20px;
    }
  }
  .steps__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    @media #{$max-mobile-width} {
      font-size: 20px;
    }
    @media #{$min-tablet-width} {
      font-size: 21px;
    }
    @media #{$min-desktop-width} {
      font-size: 30px;
    }
  }
  .steps__step-list {
    margin-bottom: 0;
    padding-left: 0;
  }
  .steps__step-item {
    margin-top: 20px;
    position: relative;
    padding-left: 30px;
    @media #{$min-desktop-width} {
      margin-top: 24px;
      padding-left: 40px;
    }
    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("/serviskomfort/img/ok.svg");
      @media #{$min-desktop-width} {
        width: 24px;
        height: 24px;
      }
    }
  }
}